@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");

html {
  min-height: 100%;
}

body {
  padding-bottom: 200px;

  z-index: 2;
  background-image: url(./download.jfif);
}
h4,
p,
span {
  color: black !important;
}
* {
  font-family: "Rubik", sans-serif !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#popUp {
  background-image: url(./download.jfif);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.start-game {
  display: flex;
  flex-direction: column;
  height: 30vh;
  border: 5px solid;
  animation: color-change 3s infinite;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  border-radius: 20px;
}
h1 {
  animation: color-change 3s infinite;
}
@keyframes color-change {
  0% {
    border-color: red;
  }
  25% {
    border-color: blue;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: rgb(246, 5, 246);
  }
  100% {
    border-color: red;
  }
}

.start-game h4 {
  margin-left: 35px;
  margin-right: 20px;
}
.start-game input {
  margin-left: 50px;
  margin-right: 50px;
  border: none;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
input::placeholder {
  text-align: center;
  color: black;
  font-size: 15px;
}
#playerContainer {
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#playerContainer h4 {
  margin-left: 20px;
}
#playerContainer span {
  margin-left: 10px;
}

h1 {
  text-align: center;
  color: white;
  margin: 16px;
}

.frame {
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 12px 0;
  margin: 0px;
}

button {
  background-color: #8bc34a;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
}

button:hover {
  background-color: #a4d967;
}

#board {
  display: inline-grid;
  overflow: hidden;
  gap: 6px;
  padding: 6px;
  border-radius: 12px;
  direction: ltr;
}

#board div {
  width: 90px;
  height: 90px;
  background-color: #3bbed5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: inset 0px 0px 8px black;
}

#board div span {
  display: none;
  pointer-events: none;
}

#board div.showing {
  background: #e26000;
  transform: matrix3d(1, 0, 4, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
}

#board div.showing span {
  display: initial;
}

.active {
  background-color: #5919c7 !important;
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.4);
  }
}

.winner {
  font-size: 80px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoom-in 2s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

p {
  text-align: center;
  color: white;
}

p .margin {
  margin: 0 12px;
}
.cheat {
  filter: brightness(0.7);
}
#resetGame {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
}
#resetGame button {
  width: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
}
